@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

.back{
    height: 100vh;
}
.heading{
    font-family: 'Julius Sans One', sans-serif;
    font-size:800%;
    font-weight: 900;
}